body{
    padding: 0px;
}

.background{
    background-color: pink;
    height:100vh;
    position: relative;
    background: linear-gradient(to bottom, #ff6b81, #c98084);
}

.start-button{
    position:absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width:200px;
    height:100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    border-style: none;
}



.start-button:hover{
    background-color: lightgray;
    cursor: pointer;
}

.start-button:active{
    transform: translate(-48%,-48%);
}


.background-wait{
    background-color: pink;
    height:100vh;
    position: relative;
    background-image: url(image/pepe-wait.gif);
}

.title{
    position:absolute;
    top: 10%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 100px;
    border-radius: 50px;
    font-size: 55px;
    font-weight: bold;
    border-style: none;
    color:white
}

.wait-image{
    position:absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);

}