body{
    padding: 0px;
}

.background{
    background-color: pink;
    height:100vh;
    position: relative;
}

.start-button{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: lightgreen;
    width:200px;
    height:100px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
}

.start-button:hover{
    background-color: greenyellow;
}

.start-button:active{
    transform: translate(-48%,-48%);
}
